@CHARSET "UTF-8";

*{
}


body{
	background-color:#fff;
	font-family: Verdana;
	margin: 0;
	background: url("images/clerks.png");
	background-size:100%;
}

.navbar-fixed-left {
  width: 20%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  font-size:20px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 100%;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.nav > li.sidebar-logout{
	position: absolute;
	bottom: 0;
}

#lista{
	background-color: #ffffff;
}

#back{
	color: white;
}

.movie-table{
	background: white;
	border-radius: 5px;
	box-shadow: 7px 7px 7px rgba(105, 101, 101, 0.6);
}


.lisaa-elokuva {
	background: white;
	border-radius: 5px;
	box-shadow: 7px 7px 7px rgba(105, 101, 101, 0.6);
}


h1 {
	font-family: 'IM Fell Double Pica', serif;
	font-weight: 400;
	text-shadow: 1px 3px 1px #000;
	padding-top: 140px;
	font-size: 60px;
	color: white;
	text-align: left;
	text-indent: 20px;
	line-height: 0px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
	box-shadow: 7px 7px 7px rgba(105, 101, 101, 0.6);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}